.about-us-section {
    padding-top: 47px;
    padding-bottom: 94px;
  }
  
  .about-us-list {
    display: flex;
    margin-top: 50px;
    margin-left: -30px;
  }
  
  .about-us-title {
    text-align: center;
  }
  
  .about-us-item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    position: relative;
  }
  
  .about-us-box {
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .about-us-text {
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 0.87;
  }