.footer {
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .footer-container {
    display: flex;
  }
  
  .footer-contact {
    margin-right: 70px;
  }
  
  .header-logo-text-2-footer {
    color: #ffffff;
  }
  
  .footer-item .footer-link {
    text-decoration: none;
    text-transform: none;
  }
  
  .adress {
    font-style: unset;
  }
  
  .footer-item:not(:last-child) {
    margin-bottom: 9px;
  }
  
  .footer-link {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71px;
    color: rgba(255, 255, 255, 0.6);
  }
  
  .footer-logo {
    margin-bottom: 20px;
  }
  
  .adress-link {
    color: #ffffff;
  }
  
  .footer-social {
    margin-top: 12px;
  }
  
  .footer-social-title {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 20px;
  }
  
  .footer-social-link {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
      :focus {
      background-color: var(--accent-color);
    }
  }
  
  // .footer-social-link:hover,
  // .footer-social-link:focus {
  //   background-color: var(--accent-color);
  // }
  
  .social-icon.footer-icon {
    fill: #ffffff;
  }
  
  .footer-mail-form {
    margin-left: 93px;
    margin-top: 12px;
  }
  
  .footer-input-box {
    display: flex;
    margin-left: auto; 
    justify-content: center;
  }
  
  
  .footer-mail-input {
    margin-right: 12px;
    background-color: #2f303a;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    outline: none;
    color: rgba(255, 255, 255, 0.6);
    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
      font-size: 16px;
      line-height: 1.25;
    }
  }
  
  
  .footer-mail-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    min-height: 50px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .footer-btn-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    margin-right: 10px;
  }
  
  .footer-btn-icon {
    width: 24px;
    height: 24px;
  }
  
  
  /* .backdrop.is-hidden .modal {
      transform: scale(2) rotate(360deg); */
  
  
  
  