.header {
    background: #ffffff;
    padding-top: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid #ececec;
  }
  
  .header-container {
    display: flex;
    align-items: center;
  }

  .header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
  }
  
  .contacts-list {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .contacts-item:not(:last-child) {
    margin-right: 50px;
  }
  
  .hedaer-nav {
    display: flex;
    align-items: center;
  }
  
  .header-logo {
    padding-right: 90px;
  }
  
  .header-logo-text-1 {
    color: var(--accent-color);
  }
  
  .header-logo-text-2 {
    color: #000000;
  }
  
  .header-item,
  .header-link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  
  .header-link {
    position: relative;
    &:hover .header-icon,
      :focus .header-icon {
        fill: var(--accent-color);
      }
  }
  
  .current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    display: block;
    bottom: -39px;
  }
  
  .header-item:not(:last-child) {
    margin-right: 50px;
  }
  
  .header-list .header-link.current {
    color: var(--accent-color);
  }
  
  .header-list {
    display: flex;
  }
  
  .contacts-item,
  .contacts-item-link {
    color: var(--secondary-text-color);
  }
  
  .social-icon.header-icon {
    width: 16px;
    height: 12px;
    fill: #757575;
  }
  
  .header-icon.tel-icon {
    width: 10px;
    height: 16px;
  }
  
  .header-icon {
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  