.team {
    background-color: #f5f4fa;
  }
  
  .team-main-title {
    text-align: center;
  }
  
  .team-list {
    display: flex;
    margin-top: 50px;
    margin-left: -30px;
  }
  
  .team-item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    background-color: #ffffff;
  }
  
  .team-title {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
  }
  
  .team-subtitle {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 16px;
  }
  
  .team-item-text {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  